openapi: "3.0.0"
info:
  version: 0.1.0
  title: CHATAPP-ACCOUNT API
  description: 'The Chatapp-accounts API is a new API that creates accounts for VSM, Messenger and Whatsapp which will be used by the Messages and Workflows APIs. (https://developer.nexmo.com/messages-and-workflows-apis/messages/overview)'
  x-label: Developer Preview
servers:
  - url: https://api.nexmo.com/beta/chatapp-accounts

paths:
  /messenger:
    post:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Create a Messenger chatapp-account
      operationId: CreateMessengerAccount
      x-group: messenger
      requestBody:
        description: Parameters marked with * are optional
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
              - external_id
              properties:
                name*:
                  type: string
                  example: "optionalName" # optional
                external_id:
                  type: string
                  example: "12345678"
                access_token:
                  type: string
                  example: "myAccessToken"
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#InvalidParams"
                  title:
                    type: string
                    example: "Your request parameters didn't validate."
                  detail:
                    type: string
                    example: "Found errors validating 1 of your submitted parameters."
                  instace:
                    type: string
                    example: null
                  invalid_params:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: string
                          example: "external_id"
                        reason:
                          type: string
                          example: "Missing `external_id` field"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
  /messenger/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Messenger chatapp-account
      operationId: GetMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessengerAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
    patch:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Update a Messenger chatapp-account
      operationId: UpdateMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to update
      requestBody:
        description: Request body can contain any of the following
        required: true
        content:
          application/json:
            schema:
              type: object
              required: 
              - external_id
              properties:
                name:
                  type: string
                  example: "newName"
                access_token:
                  type: string
                  example: "updatedAccessToken"
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name*:
                    type: string
                    example: "newName"
                  external_id:
                    type: string
                    example: "12345678"
                  api_key:
                    type: string
                    example: "abcd1234"
                  provider:
                    type: string
                    example: messenger
                  access_token:
                    type: string
                    example: "updatedAccessToken"
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: "https://www.nexmo.com/messages/Errors#InvalidParams"
                  title:
                    type: string
                    example: "Your request parameters didn't validate."
                  detail:
                    type: string
                    example: "Found errors validating 1 of your submitted parameters."
                  instace:
                    type: string
                    example: null
                  invalid_params:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        name:
                          type: string
                          example: "external_id"
                        reason:
                          type: string
                          example: "'external_id' parameter cannot be changed"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
        '404':
          description: Not Found.
    delete:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Delete a Messenger chatapp-account
      operationId: DeleteMessengerAccount
      x-group: messenger
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to delete
      responses:
        '204': 
          description: No Content.
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '403':
          description: Forbidden.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Response'
        '404':
          description: Not Found.
  /viber_service_msg/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Viber Service Message chatapp-account
      operationId: GetVSMAccount
      x-group: viber
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VSMAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
  /whatsapp/{external_id}:    
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve a Whatsapp chatapp-account
      operationId: GetWAAccount
      x-group: whatsapp
      parameters:
        - in: path
          name: external_id
          schema:
            type: string
          required: true
          description: External id of the account you want to retrieve
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WAAccountResponse'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'
        '404':
          description: Not Found.
  /:
    get:
      security:
        - bearerAuth: []
        - basicAuth: []
      summary: Retrieve all chatapp-accounts you own
      operationId: GetAllAccounts
      x-group: account
      parameters:
        - in: query
          name: provider
          schema:
            type: string
            enum:
              - messenger
              - viber_service_msg
              - whatsapp
          required: false
          description: Filter by provider
        - in: query
          name: page_number
          schema:
            type: integer
            example: 1
            default: 1
          required: false
          description: Page number of the results
        - in: query
          name: page_size
          schema:
            type: integer
            example: 1
            default: 20
          required: false
          description: Page size of the results
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_number:
                    type: integer
                    example: 1
                  page_size:
                    type: integer
                    example: 10
                  _embedded:
                    type: "array"
                    items:
                      $ref: '#/components/schemas/GetAllAccountResponse'
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      next:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=3&page_size=10"
                      prev:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=1&page_size=10"
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            example: "https://api.nexmo.com/beta/chatapp-accounts?page_number=4&page_size=10"
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Response'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic

  schemas:
    MessengerAccountResponse:
      type: object
      properties:
        name*:
          type: string
          example: "optionalName"
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: messenger
        access_token:
          type: string
          example: "myAccessToken"
          
    VSMAccountResponse:
      type: object
      properties:
        name*:
          type: string
          example: "optionalName"
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: viber_service_msg
          
    WAAccountResponse:
      type: object
      properties:
        name*:
          type: string
          example: "optionalName"
        external_id:
          type: string
          example: "12345678"
        api_key:
          type: string
          example: "abcd1234"
        provider:
          type: string
          example: whatsapp
          
    GetAllAccountResponse:
      allOf:
        - $ref: '#/components/schemas/MessengerAccountResponse'
        - $ref: '#/components/schemas/VSMAccountResponse'
        - $ref: '#/components/schemas/WAAccountResponse'
          
    401Response:
      type: object
      properties:
        title:
          type: string
          example: "Unauthorised"
        detail:
          type: string
          example: "Request header 'Authorization' missing / Invalid Token"
    403Response:
      type: object
      properties:
        title:
          type: string
          example: "Wrong authentication - You are not authorised to access this resource"
x-groups:
  account:
    name: "Account"
    order: 1
    description: Foo Bar Baz
  messenger:
    name: "Facebook Messenger"
    order: 2
    description: Foo Bar Baz
  viber:
    name: "Viber"
    order: 2
    description: Foo Bar Baz
  whatsapp:
    name: "Whatsapp"
    order: 2
    description: Foo Bar Baz
