.Vlt-article {
	h1,
	h2 {
		margin-bottom: $unit3;

		&:not(:first-child) {
			margin-top: $unit4;
			padding-top: 0;
		}
	}

	h3,
	h4,
	h5,
	h6 {
		margin-bottom: $unit2;

		&:not(:first-child) {
			margin-top: $unit3;
			padding-top: 0;
		}
	}

	pre[class*='language'],
	.Vlt-box,
	.Vlt-table,
	.Vlt-callout {
		margin-bottom: $unit2;

		&:not(:first-child) {
			margin-top: $unit2;
		}
	}

	&--reverse {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: $unit1;
			margin-top: 0;

			&:not(:first-child) {
				margin-top: 0;
			}
		}

		h1,
		h2 {
			margin-bottom: $unit2;
		}

		pre[class*='language'],
		.Vlt-box,
		.Vlt-table,
		.Vlt-callout {
			margin-bottom: $unit1;
			margin-top: 0;

			&:not(:first-child) {
				margin-top: 0;
			}
		}
	}

}

.Vlt-section {
	margin: $unit3 0;
}
