.label {
  background: $primary;
  color: $white;
  font-weight: 700;
  padding: 2px 5px 1px 5px;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;

  background: $blue-dark;
  border-color: $blue-dark;

  &--webhook .icon {
    .navigation & {
      color: $webhook;
    }
  }

  &--callback .icon {
    .navigation & {
      color: $callback;
    }
  }

  &--code {
    font-family: Consolas, monospace;
    font-size: 15px;
    padding: 4px 5px 1px 5px;

    .navigation & {
      font-size: 10px;
      padding: 2px 2px 0 2px;
      position: absolute;
      right: 100%;
      margin-right: 5px;
      border-width: 2px;
      background: none;
      opacity: 0.6;
    }

    .navigation .active & {
      opacity: 1;
    }
  }

  &--positive, &--post {
    background: $positive;
    .navigation & { color: mix($positive, $background, 80%); }
  }

  &--negative, &--delete {
    background: $negative;
    .navigation & { color: mix($negative, $background, 80%); }
  }

  &--warning, &--put {
    background: $warning;
    .navigation & { color: mix($warning, $background, 80%); }
  }

  &--get {
    background: $blue-dark;
    .navigation & { color: mix($blue-dark, $background, 80%); }
  }

  &--status--2xx {
    background: $positive;
  }

  &--status--3xx {
    background: $orange;
  }

  &--status--4xx {
    background: $red;
  }

  &--callback {
    background: $callback;
  }

  &--webhook {
    background: $webhook;
  }

  &--inverted {
    background: $white;
    color: $blue-dark;
    border: 1px solid $blue-dark;
  }

  &--status--2xx {
    background: $positive;
  }

  &--status--3xx {
    background: $orange;
  }

  &--status--4xx {
    background: $red;
  }
}
