@mixin highlighted-navigation($color) {
  a, span {
    color: $color;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.Vlt-sidemenu--flat {
  .Vlt-sidemenu__link {
    padding: 4px 10px;
  }

  li {
    a {
      font-weight: 900;
    }

    li {
      a {
        font-weight: 600;
      }

      li {
        a {
          font-weight: 400;
        }
      }
    }
  }
}

.sidenav {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  > ul {
    position: relative;
  }

  .sidenav-back {
    color: $blue;
    font-size: 0.9em;
    font-weight: 500;
  }

  .expanded {
    border-left: 1px solid $gray-light;
    margin-left: 5px;
    padding-left: $spacing - 5px;
    margin-top: 5px;
    margin-bottom: 5px;

  }
}

.navigation--documentation {
  .navigation-item--tutorials {
    @include highlighted-navigation($red);
  }

  .navigation-item--api-reference {
    @include highlighted-navigation($blue-dark);
  }

  .navigation-item--sdk-documentation > {
    @include highlighted-navigation($red);
  }

  .navigation-item--ncco-reference {
    @include highlighted-navigation($teal);
    .navigation-item--ncco-reference {
      @include highlighted-navigation($teal);
    }
  }
}
