@mixin highlighted-navigation($color) {
  a, span {
    color: $color;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.Vlt-sidemenu--flat {
  .Vlt-sidemenu__link {
    padding: 4px 10px;
  }

  li {
    a {
      font-weight: 900;
    }

    li {
      a {
        font-weight: 600;
      }

      li {
        a {
          font-weight: 400;
        }
      }
    }
  }
}

.sidenav {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  > ul {
    position: relative;
  }

  .sidenav-back {
    color: $blue;
    font-size: 0.9em;
    font-weight: 500;
  }

  /* a, span {
    color: $gray;
    font-weight: 600;
    padding: 5px 0;
    display: inline-block;

    &.active {
      font-weight: 600;
      color: $blue-dark;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul {
    overflow: hidden;

    &.has-label {
      overflow: visible;
      border-left: none;
    }
  } */

  .expanded {
    border-left: 1px solid $gray-light;
    margin-left: 5px;
    padding-left: $spacing - 5px;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  ul, li {
    margin: 0;
  }

  li {
    position: relative;
  }

  ul ul {
    padding-left: $spacing;
    font-size: 15px;
    font-weight: 500;

    ul {
      font-size: 14px;

      a, span {
        font-weight: 500;
      }
    }
  }

  hr {
    border-top-width: 1px;
    border-top-style: dotted;
  }

  &--spacious {
    margin: 0 $spacing;
  }
}

.navigation--documentation {
  .navigation-item--tutorials {
    @include highlighted-navigation($red);
  }

  .navigation-item--api-reference {
    @include highlighted-navigation($blue-dark);
  }

  .navigation-item--sdk-documentation > {
    @include highlighted-navigation($red);
  }

  .navigation-item--ncco-reference {
    @include highlighted-navigation($teal);
    .navigation-item--ncco-reference {
      @include highlighted-navigation($teal);
    }
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      position: relative !important;
      width: auto !important;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    > ul {
      width: 20%;
    }
  }
}

#sidenav .navigation {
  .navigation-item__label {
    font-size: 11px;
    color: $blue-dark;
    margin: 0 5px;
    position: relative;
    top: -1px;
    line-height: 14px;
    background: $mint;
    color: darken($mint, 40%);
    border-radius: $radius;
    padding: 0 3px;
    font-weight: 500;
  }
}
