ul.tabs {
  list-style: none;
  padding: 0;
  margin-bottom: 0 !important;

  li {
    margin: 0;
    display: inline-block;
  }
}

.tabs {
  @extend %tabs-header;

  .tabs-title {

    > a {
      @extend %tabs-link;
    }

    &.is-active {
      > a {
        @extend %tabs-link-active;
      }
    }
  }

  &--frameless {
    background: none;
    border: none;
    box-shadow: none;

    .tabs-title {
      > a {
        background: $mint;
        border-radius: $radius;
        color: $text;
        margin-right: 10px;
      }
    }
  }
}

.tabs-panel {
  @extend %tabs-panel;

  &.is-active {
    @extend %tabs-panel-active;
  }
}

.tabs-content {
  background: $grey-lighter;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid $grey-light;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  margin-bottom: 32px;
  padding: 24px;

  &--frameless {
    border: none;
    background: none;
    box-shadow: none;
    > .tabs-panel {
      padding: 1rem 0;
    }
  }
}

.tabs--code, .tabs-content--code {
  border: none;
}

.tabs-content--code {

  .tabs-panel {

    pre.highlight {
      border-radius: 0 0 3px 3px;
      overflow: auto;
    }

    position: relative;
    padding: 0;

    &:after {
      content: " ";
      display: block;
      background: linear-gradient(to right, rgba($code-background, 0) 0%,rgba($code-background, 1) 100%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 3px;
      width: 20px;
    }

    &:before {
      content: " ";
      display: block;
      background: linear-gradient(to right, rgba($code-background, 1) 0%,rgba($code-background, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 3px;
      width: 20px;
      z-index: 2;
    }
  }
}