ul.tabs {
  list-style: none;
  padding: 0;
  margin-bottom: 0 !important;

  li {
    margin: 0;
    display: inline-block;
  }
}

.tabs {
  @extend %tabs-header;

  .tabs-title {

    > a {
      @extend %tabs-link;
    }

    &.is-active {
      > a {
        @extend %tabs-link-active;
      }
    }
  }
}

.tabs-panel {
  @extend %tabs-panel;

  &.is-active {
    @extend %tabs-panel-active;
  }
}

.tabs-content {
  background: $grey-lighter;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid $grey-light;
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  margin-bottom: 32px;
  padding: 24px;

  &--frameless {
    border: none;
    background: none;
    box-shadow: none;
    > .tabs-panel {
      padding: 1rem 0;
    }
  }

  &--code {
    padding: 0;
    border: 0;
    background: none;
  }
}
