.Nxd-main-header {
  background: $blue-darker;
  color: $white;
  padding: $unit2 0;

  @media #{$S-only} {
    text-align: center;
    padding: $spacing*0.75 0 $spacing*0.5 0;
  };

  .container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    @media #{$S-only} {
      flex-flow: column;
    }
  }

  nav {
    flex: 1;
    text-align: center;

    @media #{$M-plus} {
      white-space: nowrap;
      text-align: right;
    }

    a {
      display: inline-block;
      margin: $unit2 $unit1;
      color: rgba($white, 80);

      @media #{$M-plus} {
         margin: $unit1 $unit3 $unit1 0;
      }

      &:hover {
        color: $white;
      }
    }

    @media #{$S-only} {
      float: none;
    };
  }

  .Vlt-btn {
    margin: 0;
  }
}

.Nxd-logo {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;

  a:nth-child(2) {
    flex-shrink: 0;
  }

  img {
    height: 35px;
  }

  &__hiring {
    font-size: 1.3rem;
    padding: 6px 8px;
    margin-left: 10px;
    position: relative;
    background: $white;
    color: $blue-dark;
    line-height: 1em;
    transform: translateX(0);
    transition: transform  200ms ease-in-out;
    display: inline-block;
    border-radius: 4px;

    &:hover {
      transform: translateX(5px);
    }

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 5px 5px 5px 0;
      border-color: transparent $white;
      display: block;
      width: 0;
      left: -4px;
      top: 7px;
    }
  }

}

#subnav {
  background: $white;
  margin-bottom: 40px;
  box-shadow: $shadow-soft;

  .container {
    position: relative;
  }


  .quicksearch a {
    padding: 0;
  }

  form {
    float: right;
  }

  @include tablet {
    .container {
      display: flex;
      flex-wrap: wrap;
      > a {
        margin-right: 0;
        text-align: center;
        flex-grow: 1;
      }

      form {
        flex-grow: 1;
        margin: 0;
        margin-bottom: 10px;
        min-width: 150px;
        input {
          float: none;
          width: 100%;
        }
      }
    }
  };
}
