* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .container {
    flex: 1;
  }
}

.wrapper {
  flex: 1;
  transition: filter 400ms ease-in-out;

  &--tint {
    background: $ice;
  }

  &--blur {
    filter: blur(3px);

    @media #{$S-only} {
      filter: none;
    }
  }
}

.container {
  max-width: 1300px;
  padding: 0 $spacing;
  margin: auto;
}

.row {
  max-width: 1300px;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}

img {
  max-width: 100%;
}

table {
  code {
    white-space: nowrap;
  }
}

.spacious {
  padding: $spacing*2 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

@keyframes spin {
  0%   {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(359deg)}
}

.spinner {
  width: 100%;
  margin: $spacing*2 0;
  text-align: center;
  animation: spin 1.2s infinite ease-in-out;
  i {
    font-size: 40px;
    color: $mint;
  }
}

.flex {
  display: flex;
}

.flex--auto {
  > * { flex: 1; }
}

.hide {
  display: none;
}

.grecaptcha-badge {
  display: none;
}

.float-right {
  float: right;
}

.Nxd-header-notices {
  .Vlt-callout {
    margin-bottom: $unit4;
  }
}

table {
  .Vlt-icon:not(.Vlt-icon--smaller) {
    display: block;
    margin: 0 auto;
  }
}
